<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RXSWIFTEXAMPLES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04EC64061D4625240067FBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EC641D1D4625250067FBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EC64281D4625250067FBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
